<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Lego Collection</title>
  </head>
  <body>
    <!-- navigation -->
    <%- include('partials/navbar', {page: '/register'}) %>
    <!-- navigation ends -->

    <div class="container mx-auto">
      <!-- hero section -->
      <div class="hero bg-base-200 mb-6">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Register</h1>
            <p class="py-6"> Please provide your credentials below</p>
          </div>
        </div>
      </div>
      <!-- hero section ends -->

      <% if (typeof successMessage !== 'undefined') { %>
        <div class="alert">
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
            <span><%= successMessage %></span>
        </div><br />
        <a href="/login" class="btn btn-success"> Proceed to Log in </a>
      <% } else { %>
        <form method="post" action="/register" class="p-4">
            <div class="mb-6">
                <label for="userName" class="block text-gray-700 font-medium">User Name</label>
                <input type="text" id="userName" name="userName" required placeholder="User Name" class="w-full border border-gray-300 rounded-md px-3 py-2 focus:border-blue-300">
            </div>
            <div class="mb-6">
                <label for="password" class="block text-gray-700 font-medium">Password</label>
                <input type="password" id="password" name="password" required placeholder="Password" class="w-full border border-gray-300 rounded-md px-3 py-2 focus:border-blue-300">
            </div>
            <div class="mb-6">
                <label for="password2" class="block text-gray-700 font-medium">Confirm Password</label>
                <input type="password" id="password2" name="password2" required placeholder="Confirm Password" class="w-full border border-gray-300 rounded-md px-3 py-2 focus:border-blue-300">
            </div>
            <div class="mb-6">
                <label for="email" class="block text-gray-700 font-medium">Email</label>
                <input type="email" id="email" name="email" required placeholder="Email Address" class="w-full border border-gray-300 rounded-md px-3 py-2 focus:border-blue-300">
            </div>
            <div class="mt-6">
                <button type="submit" class="btn btn-primary w-full ">Register</button>
            </div>
        </form>
        <% } %>
      <% if (typeof errorMessage !== 'undefined') { %>
       <div class="alert alert-error">
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
            <span><%= errorMessage %></span>
        </div> 
      <% } %>
    </div>
  </body>
</html>
